<header class="site-header">
    <!-- Logo and title -->
    <div class="branding">
        <a class="site-title" aria-label="{{ site.title }}" href="{{ '/' | relative_url }}">
        {{ site.title }}
        </a>
    </div>

    <!-- Toggle menu -->
    <nav class="clear">
    <a aria-label="pull" id="pull" class="toggle" href="#">
    <i class="fas fa-bars fa-lg"></i>
    </a>

    <!-- Menu -->
    <ul class="hide">
        {% assign name_page = "" %}
        {% assign sorted_pages = site.pages | sort: 'order' %}
        
        <!-- Explicitly add Home link -->
        <li>
            <a class="clear" aria-label="Home" title="Home" href="{{ '/' | relative_url }}">
                Home
            </a>
        </li>
        
        {% for page in sorted_pages %}
            {% unless page.title == null or page.hide or name_page contains page.title or page.order == null or page.permalink == '/' %}
            <li class="separator"> | </li>
            <li>
                <a class="clear" aria-label="{{ page.title }}" title="{{ page.title }}" href="{{ page.url | relative_url }}">
                    {% if page.icon %} <i class="fas {{ page.icon }}" aria-hidden="true"></i>
                    {% elsif page.nav_title %} {{ page.nav_title }} 
                    {% else %} {{ page.title }} {% endif%}
                </a>
            </li>
            {% endunless %}
            {% assign name_page = page.title | append: name_page %}
        {% endfor %}
    </ul>
    </nav>
</header>