---
layout: page
---

{% for section in site.data.people %}
<h3>{{ section.role }}</h3>
{% for member in section.members %}
<div class="people">
    <img class="people-photo" src="{{ site.baseurl }}{{ member.photo }}" alt="{{ member.name }}">
    <div class="people-info">
        <h4>
        {% if member.profile_link %}
            <a href="{{ member.profile_link }}">{{ member.name }}</a>
        {% else %}
            {{ member.name }}
        {% endif %}
        </h4>
        {% if member.info %}
        <p>{{ member.info }}</p>
        {% endif %}
        <ul>
            {% if member.email %}
            <li><strong>Email:</strong> <a href="mailto:{{ member.email }}">{{ member.email }}</a></li>
            {% endif %}
            {% if member.phone %}
            <li><strong>Phone:</strong> {{ member.phone }}</li>
            {% endif %}
            {% if member.office %}
            <li><strong>Office:</strong> {{ member.office }}</li>
            {% endif %}
        </ul>
    </div>
</div>
{% endfor %}
{% endfor %}



{{content}}